* {
  font-family: "Abel", sans-serif;

  box-sizing: border-box;
}

/* Basic */
body {
  background-color: black;
  color: #fff;
  min-width: 600px;
  min-height: 300px;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.primary-button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  cursor: pointer;
  color: #fff;
}

.secondary-button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #555;
}
.success-button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #48bb78;
}

.text-success {
  color: #48bb78;
}
.text-danger {
  color: #f56565;
}
.text-muted {
  color: #a0aec0;
}
#game-title {
  background-image: linear-gradient(to right, #48bb78, #3b82f6, #9f7aea);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 800;
}
